/* Style the main content area */
main {
    text-align: center;
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    /* background-image: url(../images/background.jpg);
    background-size: cover; */
    color: white;
    height: auto;
    margin-top: -10px;
    text-wrap: wrap;
    width: 100vw;
}

.try-calculator {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    position: relative;
}

.try-calculator h3 {
    margin-bottom: 15px;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    text-align: left;
    padding: 0;
}

.try-calculator button {
    width: auto;
    aspect-ratio: 5;
    padding: 10px;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgb(219, 6, 219);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.calculator-cta button:hover {
    filter: brightness(80%);
}

.calculator-image {
    width: 60%;
}

.calculator-image img {
    width: 100%;
    height: auto;
    border: 5px white solid;
    border-radius: 20px;
    position: static;
    top: 10px;
    right: 50px;
    box-shadow: 0 0 10px;
    z-index: 0;
}

.describe-calculator {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: left;
    color: black;
    /* padding-left: 35px; */
}

.features {
    width: 35%;
    margin-right: auto;
}

.describe-calculator p {
    width: 100%;
    font-weight: 100;
}

.describe-calculator ul h2 {
    margin: 0;
}

.features p {
    margin-top: 0;
    padding-top: 0;
    text-align: justify;
}

.features h4 {
    margin-bottom: 5px;
}

.welcome {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(219, 6, 219);
    border-bottom: 1px white solid;
    padding: 50px;
    padding-top: 30px;
}

.welcome h3 {
    font-size: 50px;
    margin-bottom: 0;
    text-align: left;
    padding-top: 10px;
    word-wrap: break-word;
    height: max-content;
}

.welcome p {
    margin-top: 0;
    text-align: left;
    padding: 0;
    width: 70%;
}

@media (max-width: 768px) {

    header,
    .welcome,
    .try-calculator {
        padding-left: 30px;
    }

    header {
        z-index: 20;
    }

    .describe-calculator {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .features {
        margin-left: auto;
        width: auto;
    }

    .welcome p {
        width: 100%;
    }

    .describe-calculator ul {
        padding-top: 10px;
    }

    .calculator-image {
        width: 100%;
    }

    .calculator-image img {
        aspect-ratio: 2;
    }
}