
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for form elements */
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding in total width and height */
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  background-color: #4cae4c;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #5cb85c;
}

.login a {
  text-decoration: none;
}

.signup {
  display: flex;
}

.signup button {
  width: 40%;
}
/* Additional styling can be added for links, messages, etc. */

