.calculator {
	display: flex;
	align-items: center;
    max-width: 80%;
    margin: auto;
    padding: 20px;
	background-color: hsl(0, 0%, 100%);
	border-radius: 4px;
	margin-bottom: 40px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
ul {
	list-style: none;
}

.gpa_list {
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 90%;
}

.gpa_field {
	display: flex;
}
.input-group {
    margin-bottom: 15px;
}

select {
    width: auto;
    padding: 5px;
    font-size: 16px;
	border-radius: 4px;
	border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
	border-radius: 4px;
	margin-bottom: 10px;
	outline: 2px solid black;
}
button.gpa {
	background-color: lightslategray;
	margin-right: 10px;
}

button:hover {
    background-color: indigo;
}

#result {
    margin-top: 20px;
    font-size: 18px;
	text-align: center;
}

h2.heading {
	text-align: center;
}
