{% extends 'layout.html' %}
{% block content %}
    <div class="about">
      <div class="description">
        <h2> ABOUT GRADEGENIUS </h2>
        <p>GradeGenius is a web application designed to provide grade tracking tools and simplify GPA calculation for students of all levels. We offer a user-friendly interface and support for various grading scales to ensure accurate results. <br> <br>
          Founded by students who understand the importance of academic achievement, GradeGenius is dedicated to providing students with the resources they need to succeed.</p><br>
        <p>Achieve academic success with GradeGenius. Our intuitive tools help you set goals, track progress, and understand how your grades impact your GPA.</p>
      </div>
    </div>
{% endblock content %}