{% extends 'layout.html' %}
{% block content %}
    <main>
        <div class="welcome">
            <h3>GradeGenius</h3>
            <p>Welcome to GradeGenius. We provide tools that help you track and improve your academic progress.</p>
        </div>
        <div class="try-calculator">
            <!-- <div class="introduction">
                <h3>Introducing our new GPA calculator</h3>
            </div> -->
            <div class="describe-calculator">
                <div class="features">
                    <h4>Using our GPA Calculator</h4>
                    <p>Track your GPA effortlessly with GradeGenius. Just enter your grades and credit hours, and the tool will do the math for you. It is easy to use and perfect for students and teachers alike. With its simple interface, staying on top of your grade has never been easier.</p>
                    <a class="calculator-cta" href="/calculate"><button>Try it Now</button></a>
                </div>
                <div class="calculator-image">
                    <img src="{{ url_for('static', filename='images/calculator.PNG') }}" alt="">
                </div>
            </div>
        </div>
    </main>
{% endblock content %}