<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GradeGenius - {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename=css_file) }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% if script %}
        <script src="{{ url_for('static', filename=script) }}"></script>
    {% endif %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/calculate">Calculator</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </nav>
    </header>
	{% block content %}
	{% endblock content %}
    <footer>
        <p>© 2024 GradeGenius</p>
    </footer>
</body>
</html>

